@charset "UTF-8";

.app {
	display: flex;
	flex-flow: row nowrap;
}

.superiore,.laterale {
	flex-flow: column wrap;
	vertical-align: top;
	background-color: grey;
	padding: 15px;
}

.menu > a {
	text-decoration: none;  /* per evitare sottolineatura */
	color: var(--white);
	padding: 1rem;
}
.corpo {
	flex-grow: 1;	
}

.info {
	text-align: right;
	font-style: italic;
	font-weight: normal;
}

.contenuto {
	background-color: var(--grey);
	flex: 1;
	flex-flow: column wrap;
}