@charset "utf-8";

        .alert{
            text-align: center;
            background-color: var(--red);
            border: 1px solid var(--white);
            color: white;
            padding-top: 3%;
            margin-top: 40px;
        }
 	
 	*{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  list-style: none;
	  text-decoration: none;
	  
	}
 	
 	body{
   		background-color: #f3f5f9;
   		transition: 0.5s;
   		
	}
	
	
	
  #sidebar{
		width: 200px;
		height:100%;
		left:0;
		top:0;
		position: fixed;
		background:linear-gradient(120deg,#2980b9,#8e44ad);
		padding: 30px 0px;
 		margin-left: -200px;
 		transition: 0.5s;
 		z-index:1; /* serve per sovrapporre la sidebar alla freccia del menu*/ 
	}
	
	#sidebar h3{
		
  		color: #fff;
  		text-transform: uppercase;
  		text-align: center;
 		margin-bottom: 30px;
	}
	
	#sidebar ul li{
		padding:15px;
		border-bottom: 1px solid #bdb8d7;
		border-top: 1px solid #bdb8d7;
	}
	
	#sidebar ul li a{
		color: white;
		display: block;
	}
	
	#sidebar ul li:hover{
 	 background-color: #594f8d;			
	}
	
	#sidebar ul li:hover a{
 	 	color: #fff;	
	}
	
	#contenuto{
		transition:0.5s;
		width: 100%;
		padding-left:20px;
		/*margin-left: 200px;*/
		
		
		
	}
	
	#contenuto .top{
		padding:20px;
		background: linear-gradient(120deg,#2980b9,#8e44ad);
		color:white;
  		border-bottom: 1px solid #e0e4e8;
  		border: 2px;
  		border-top-left-radius: 25px;
  		
	}
	
	#contenuto .info{
	margin: 30px;
 	color: #717171;
  	line-height: 25px;
  	float:left;
  	clear:both;
  	
  		
	}
	
	#contenuto .info div{
		margin-bottom: 20px;		
	}
	
	.freccia{
	width:30px;
	height:30px;
	position: absolute;
	bottom:50%;
	transition:0.5s;
	}


    
    .clienti{
    	border: 5px solid black;
    	width:40vw;
    	height:45vh;
    	min-height:500px;
    	float:left;
    	margin:10px;
    	
    }
    

    
    .clienti h4{
    	height:80px;
    	background: linear-gradient(120deg,#2980b9,#8e44ad);
    	color:white; 
    	text-align:center;
    	line-height: 80px;
    	
    	
    	
    }
    
    
    @media screen and (max-width: 710px) {
  .clienti {
    width: 100%;
   
  	}
}
footer{
 		background-color: #e7e7e7;
 		text-align: center;
 		padding: 15px;
 		margin: 0px 10px 10px 10px;
 		font-size:70%;
 		right:20px;
 		position:absolute;
 
}

