@import "home.css";




 table { 
     width: 95%;
    margin-right: 10px;
 } 
 
 th{
 	color: white;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
 }
 
 td { 
     border: 1px solid #c3c3c3; 
     text-align: center; 
 } 
 thead { 
     background-color: #f5f5f5; 
 } 
  
 /* Media Query per il No More Tables */ 
  
 @media only screen and (max-width: 767px) { 
     /* Forza la tabella a non comportarsi come una normale tabella */ 
  
 	#tabella table,  
 	#tabella thead,  
 	#tabella tbody,  
 	#tabella th,  
 	#tabella td,  
 	#tabella tr {  
 		display: block;  
 	} 
  
 	/* Nasconde le intestazioni della tabella */ 
  
 	#tabella thead tr {  
 		position: absolute; 
 		top:-9999px; 
 		left:-9999px; 
 	} 
   
 	#tabella tr { border: 1px solid #ccc; } 
  
 	#tabella td {  
 		/* Inserisce il comportamento come una riga */ 
  
 		border: none; 
 		border-bottom: 1px solid #eee;  
 		position: relative; 
 		padding-left: 50%;  
 		white-space: normal; 
 		text-align:left; 
 	} 
  
 	#tabella td:before {  
 		/* Inserisce il comportamento come un'intestazione di tabella */ 
  
 		position: absolute; 
 		/* I valori top/left agiscono come padding */ 
  
 		top: 0; 
 		left: 6px; 
 		width: 45%;  
 		padding-right: 10px;  
 		white-space: nowrap; 
 		text-align:left; 
 		font-weight: bold; 
 	} 
  
 	/* Aggiunge l'etichetta ai dati della tabella */ 
  
 	#tabella td:before { content: attr(data-title); } 
 }  
 
 .bottone{
	border:0px;
 	background:transparent;
 	color: blue;
 	cursor:pointer;
}
 
 